.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: #e10096 !important;
    color: #000 !important;
    background-color: white !important;
    font-family: 'Roboto', sans-serif !important; 
}

.btnModal:hover {
    font-size: 16px;
}