.fundoLogin {
    background-image: url('https://imgur.com/NGiBIDP.png');
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textos{
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none;
}

.cad-link {
    text-decoration: none;
    color: black;
}
.cad-link:hover {
    text-decoration: none;
    color: #e10096;
}