.button {
    background-color: #e10096 !important;
    font-weight: bold !important;
    border-color: #fff !important;
    color: #fff !important;
}

.botao:hover {
    font-size: 16px;
}

.caixa {
    font-family: 'Roboto', sans-serif !important;
}

.text-decorator-none-button {
    text-decoration: none;
}
