.chamada {
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 400 ;
}

.redes-bg{
    background-color: #fff;
}

.redes{
    font-size: 60px !important;
    color: #e10096;
}

.redes:hover{
    font-size: 65px !important;
}

.texto {
    color: #000;
}
