.font {
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    margin-top: 5px !important;
    cursor: pointer;
    margin-left: 20px !important;
}

.text-decorator-none {
    text-decoration: none;
}