.font {
    font-family: 'Montserrat', sans-serif;
}

.toolbar {
    background-color: #9A8C98;
}

.cabecalho {
    width: 80px;
    margin-top: 5px !important;
    cursor: pointer;
    margin-left: 20px !important;
}

.text-decorator-none {
    text-decoration: none;
    color: #fff !important;
    width: 220px;
}